<div class="mt-4">
  <h1 class="pt-4 sm:pt-6 font-semibold text-2xl text-blue-700">Clients</h1>
  <table class="w-full sm:w-1/2  table-auto border-collapse border border-gray-200 mt-4">
    <thead>
      <tr class="bg-gray-100">
        <th class="border border-gray-200 px-4 py-2">Name</th>
        <th class="border border-gray-200 px-4 py-2"> Arrival Date</th>
        <th class="border border-gray-200 px-4 py-2"> Departure Date</th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |client|%>
        <tr>
          <td class="text-center border border-gray-200 px-4 py-2"><a href="/clients/<%= client.id%>"><%= client.name %></a></td>
          <td class="text-center"><%= client.arrival %></td>
          <td class="text-center"><%= client.departure %></td>
          <td class="text-center border border-gray-200 px-4 py-2"><a href="/clients/<%= client.id%>"><%= link_to 'edit', edit_client_path(@client)%></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div  class="flex py-6 sm:py-6 text-blue-700">
  <%= link_to "BOOK", new_client_path %>
</div>