<div class="flex flex-row min-h-screen">
  <!-- Sidebar -->
  <div class="sm:h-screen w-64 lg:w-96 bg-gray-800 p-6 mt-17">
    <p class="text-white">
      <span class="text-2xl font-semibold text-white">Hi, </span>
      <%= current_user.email%>
    </p>
    <ul class="mt-8">
      <li><%= link_to "Home", root_path, class:"text-gray-400 hover:text-white"%></li>
      <li><%=link_to "Users", clients_path, class:"text-gray-400 hover:text-white"%></li>
      <li><%= link_to "Houses", rooms_path, class:"text-gray-400 hover:text-white"%></li>
    </ul>
  </div>
  <!-- Main Content -->
  <div class="flex-1 p-8">
    <h2 class="text-3xl font-semibold">Welcome to the Dashboard</h2>
    <div class="mt-4">
      <div class="grid grid-cols-3 gap-6 text-white">
        <div class="bg-gray-800 p-6 rounded-lg shadow-md">
          <h3 class="text-xl font-semibold">Total Clients Booked</h3>
          <p class="text-3xl font-bold"><%= @clients.count%></p>
        </div>
        <div class="bg-blue-600 p-6 rounded-lg shadow-md">
          <h3 class="text-xl font-semibold">Bookings Today</h3>
          <p class="text-3xl font-bold"><%= @clients.where(created_at:Date.current.all_day).count%></p>
        </div>
        <div class="bg-gray-800 p-6 rounded-lg shadow-md">
          <h3 class="text-xl font-semibold">Weekly Bookings</h3>
          <p class="text-3xl font-bold"><%= @clients.where(created_at:Date.current.all_week).count%></p>
        </div>
      </div>
    </div>
    <%= render 'clients' %>
    <%= render 'rooms' %>
  </div>
</div>