<div class="mt-20">
  <% @room.images.each do |image| %>
    <%= image_tag image %>
  <% end %>
  <%= @room.title %>
  <%= @room.description %>
  <%= link_to 'Edit', edit_room_path(@room) %>
  <%= button_to 'Delete', @room , method: :delete, data: {turbo_confirm: "Are you sure?"} %>
</div>
