<%= form_for @bookin, url: {action: "create"} do |form| %>
  <div class: "mb-4">
    <%= form.label :name %>
    <%= form.text_field :name, class: "w-full border rounded p-2 mt-1" %>
  </div>
  <div>
    <%= form.label :arrival%>
    <%= form.date_field :name, class: "w-full border rounded p-2 mt-1" %>
  </div>
  <div>
    <%= form.label :departure%>
    <%= form.date_field :departure, class: "w-full border rounded p-2 mt-1" %>
  </div>
  <div>
    <%= form.submit 'Book Now', class: "bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded mt-2" %>
  </div>
<% end %>